@import "tailwindcss";

@import "./common.css";

@theme {
    /* Themes */

    /* blue shades */
    --color-blue-100: #00ffff;
    --color-blue-200: #00ffff;
    --color-blue-300: #00e4ff;
    --color-blue-400: #00c7ff;
    --color-blue-500: #3457d5;
    --color-blue-600: #0090d4;
    --color-blue-700: #0076b8;
    --color-blue-800: #005c9d;
    --color-blue-900: #004383;
    --color-blue: #3457d5;
    
    /* red shades */
    --color-red-100: #ffadff;
    --color-red-200: #ff98f3;
    --color-red-300: #ff79d6;
    --color-red-400: #ff59bb;
    --color-red-500: #ed2939;
    --color-red-600: #e90086;
    --color-red-700: #ca006c;
    --color-red-800: #ab0054;
    --color-red-900: #8c003d;
    --color-red: #ed2939;
    
    /* green shades */
    --color-green-100: #cbff4c;
    --color-green-200: #b6f635;
    --color-green-300: #98da00;
    --color-green-400: #7bbe00;
    --color-green-500: #32cd32;
    --color-green-600: #408800;
    --color-green-700: #226e00;
    --color-green-800: #055500;
    --color-green-900: #073c00;
    --color-green: #32cd32;
    
    /* yellow shades */
    --color-yellow-100: #ffc775;
    --color-yellow-200: #ffb362;
    --color-yellow-300: #ff9748;
    --color-yellow-400: #ff7b2d;
    --color-yellow-500: #ffd700;
    --color-yellow-600: #d74300;
    --color-yellow-700: #b62500;
    --color-yellow-800: #970000;
    --color-yellow-900: #7a0000;
    --color-yellow: #ffd700;
    
    /* cyan shades */
    --color-cyan-100: #88fff5;
    --color-cyan-200: #72f8e1;
    --color-cyan-300: #52dbc5;
    --color-cyan-400: #2bbfaa;
    --color-cyan-500: #00cccc;
    --color-cyan-600: #008976;
    --color-cyan-700: #006f5d;
    --color-cyan-800: #005546;
    --color-cyan-900: #003d2f;
    --color-cyan: #00cccc;
    
    /* magenta shades */
    --color-magenta-100: #ead8ff;
    --color-magenta-200: #d3c4ff;
    --color-magenta-300: #b1a9ff;
    --color-magenta-400: #8e8eff;
    --color-magenta-500: #ff00ff;
    --color-magenta-600: #395bff;
    --color-magenta-700: #0043ff;
    --color-magenta-800: #002dea;
    --color-magenta-900: #0018cd;
    --color-magenta: #ff00ff;
    
    /* grey shades */
    --color-grey-100: #f6f6f6;
    --color-grey-200: #e2e2e2;
    --color-grey-300: #c6c6c6;
    --color-grey-400: #ababab;
    --color-grey-500: #666666;
    --color-grey-600: #777777;
    --color-grey-700: #5e5e5e;
    --color-grey-800: #474747;
    --color-grey-900: #303030;
    --color-grey: #666666;
    
    /* \Themes */

    /* Black */
    --color-black: #333333;
    /* White */
    --color-white: #fffffa;

    --color-light: #fefefa;
    --color-dark: #333333;

    --font-sans: "Open Sans", sans-serif;
    --font-serif: "Montserrat", serif;
    --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
