@import "tailwindcss";

@import "./common.css";

@theme {
    /* Themes */

    /* RED */
    --color-red-50: #FFF1F0;
    --color-red-100: #FFE6E6;
    --color-red-200: #FFC3C3;
    --color-red-300: #FFA3A3;
    --color-red-400: #FF7875;
    --color-red-500: #F5222D;
    --color-red-600: #DE1D25;
    --color-red-700: #C01A20;
    --color-red-800: #A1161C;
    --color-red-900: #871017;
    --color-red: var(--color-red-500);

    /* BLUE (Primary) */
    --color-blue-50: #E6F4FF;
    --color-blue-100: #BAE6FF;
    --color-blue-200: #91D5FF;
    --color-blue-300: #69C0FF;
    --color-blue-400: #40A9FF;
    --color-blue-500: #1677FF;
    --color-blue-600: #1263E6;
    --color-blue-700: #0C4FBF;
    --color-blue-800: #083C96;
    --color-blue-900: #052A6E;
    --color-blue: var(--color-blue-500);

    /* YELLOW */
    --color-yellow-50: #FFFBE6;
    --color-yellow-100: #FFF3C4;
    --color-yellow-200: #FFE58F;
    --color-yellow-300: #FFD666;
    --color-yellow-400: #FFC53D;
    --color-yellow-500: #FAAD14;
    --color-yellow-600: #D48806;
    --color-yellow-700: #AD6800;
    --color-yellow-800: #8C5500;
    --color-yellow-900: #6F4200;
    --color-yellow: var(--color-yellow-500);

    /* GREEN */
    --color-green-50: #F6FFED;
    --color-green-100: #D9F7BE;
    --color-green-200: #B7EB8F;
    --color-green-300: #95DE64;
    --color-green-400: #73D13D;
    --color-green-500: #52C41A;
    --color-green-600: #389E0D;
    --color-green-700: #237804;
    --color-green-800: #1E6F03;
    --color-green-900: #135F02;
    --color-green: var(--color-green-500);

    /* PURPLE */
    --color-purple-50: #F9F0FF;
    --color-purple-100: #EFDBFF;
    --color-purple-200: #D3ADFF;
    --color-purple-300: #BA8BFF;
    --color-purple-400: #9254DE;
    --color-purple-500: #722ED1;
    --color-purple-600: #571CB3;
    --color-purple-700: #40109A;
    --color-purple-800: #2F0C7A;
    --color-purple-900: #22085B;
    --color-purple: var(--color-purple-500);

    /* PINK */
    --color-pink-50: #FFF0F6;
    --color-pink-100: #FFD6E7;
    --color-pink-200: #FFADD2;
    --color-pink-300: #FF85C0;
    --color-pink-400: #FF4D9D;
    --color-pink-500: #EB2F96;
    --color-pink-600: #C61A72;
    --color-pink-700: #A1165C;
    --color-pink-800: #7C1048;
    --color-pink-900: #611036;
    --color-pink: var(--color-pink-500);

    /* GREY */
    --color-grey-50: #FAFAFA;
    --color-grey-100: #F5F5F5;
    --color-grey-200: #D9D9D9;
    --color-grey-300: #BFBFBF;
    --color-grey-400: #8C8C8C;
    --color-grey-500: #595959;
    --color-grey-600: #434343;
    --color-grey-700: #262626;
    --color-grey-800: #1F1F1F;
    --color-grey-900: #141414;
    --color-grey: var(--color-grey-500);

    /* \Themes */

    /* Black */
    --color-black: #333333;
    /* White */
    --color-white: #fffffa;

    --color-light: var(--color-gray-50);
    --color-dark: var(--color-black);

    --font-sans: "Open Sans", sans-serif;
    --font-serif: "Montserrat", serif;
    --font-mono:
        SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
        monospace;
}

@source "./components";